/* Add any custom CSS styles here */
.order-status-pending {
    color: #f59e0b;
}

.order-status-completed {
    color: #10b981;
}

.payment-status-pending {
    color: #f59e0b;
}

.payment-status-received {
    color: #10b981;
}

.plates {

    border: #f59e0b 2px !important;
    background-color: wheat;
}